:root {
	font-size: 18px;
}

@media (min-width: 600px;) {
	:root {
		font-size: 3vw;
	}
}

@media (min-width: 900px;) {
	:root {
		font-size: 20px;
	}
}

body: {
	background: white;
	font-size: calc( 12px + (24 - 12) * ( (100vw - 400px) / (900 - 400) ));
}
